.container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  margin: 24px 12px;
  flex-direction: row;
  align-items: center;
}

.main {
  width: 550px;

}

.accordion-item {
  width: 450px;
}

.accordion-item > .title {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion-item > .title:hover {
  background-color: #ccc;
}

.accordion-item > .content {
  display: none;
}

.accordion-item.extended > .content {
  padding: 10px 18px;
  background-color: white;
  overflow: hidden;
  display: block;
}

.buttons-block {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 0;
  width: 200px;
  height: 40px;
}