$main-color: rgb(166, 110, 240);
$background-color: rgb(241, 236, 248);

h1 {
  font-size: 48px;
  font-weight: bold;
  color: $main-color;
}

img {
  height: 150px;
}

#app {
  width: 600px;
  height: auto;
  background-color: $background-color;
}

